node_modules/
server/database/*.db
server/database/*.db-journal
*.log
.DS_Store
Thumbs.db
dist/
build/
coverage/
.system_generated/

# Environment Variables
.env
.env.*
.env.local
.env.development
.env.production
.env.development.local
.env.test.local
.env.production.local
*.zip
